*.iml
.gradle
/secrets.properties
/local.properties
.idea/
.kotlin/
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
secrets.properties
app/google-services.json
firebase/api_config.json
*.jks
*.keystore
*.apk
*.aab
/app/release/


